Package: com.yourcompany.screencolor
Name: screencolor
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: QiMENG
Author: QiMENG
Section: Tweaks
