Package: com.iosre.iosregreetings
Name: iOSREGreetings
Depends:  firmware(>=7.0)
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: qimeng
Author: qimeng
Section: Tweaks
Version: 0.0.1-7
Installed-Size: 72
