Package: com.yourcompany.iosretargetapp
Name: iosretargetapp
Depends: 
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: QiMENG
Author: QiMENG
Section: Utilities
Version: 0.0.1-1
Installed-Size: 136
