Package: com.iosre.iosregreetings
Name: iOSREGreetings
Depends:  firmware(>=7.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: qimeng
Author: qimeng
Section: Tweaks
